<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="un papel con vida" content="papel, organico, plantable ">

        <meta name="Sheedo" content="papel semillas">

        <title>Sheedo</title>

		<!-- Mobile Specific Meta
		================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="Image/leaf32.png" />

		<!-- CSS
		================================================== -->
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="/css/font-awesome.min.css">
		<!-- bootstrap.min css -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
		<!-- Animate.css -->
        <link rel="stylesheet" href="/css/animate.css">
		<!-- Owl Carousel -->
        <link rel="stylesheet" href="/css/owl.carousel.css">
		<!-- Grid Component css -->
        <link rel="stylesheet" href="/css/component.css">
		<!-- Slit Slider css -->
        <link rel="stylesheet" href="/css/slit-slider.css">
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="/css/main.css">
		<!-- Media Queries -->
        <link rel="stylesheet" href="/css/media-queries.css">

		<!--
		Google Font
		=========================== -->

		<!-- Oswald / Title Font -->
		<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
		<!-- Ubuntu / Body Font -->
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300' rel='stylesheet' type='text/css'>

		<!-- Modernizer Script for old Browsers -->
        <script src="js/modernizr-2.6.2.min.js"></script>

    </head>

    <body id="body">

	   <div id="loading-mask">
			<div class="loading-img">
				<img alt="Meghna Preloader" src="Image/SHEEDO_FINAL (1).png" height="150" width="200"  />
			</div>
		</div>
        <!--
        End Preloader
        ==================================== -->

        <!--
        Welcome Slider
        ==================================== -->
		<section id="home">

            <div id="slitSlider" class="sl-slider-wrapper">
				<div class="sl-slider">

					<!-- single slide item -->
					<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
						<div class="sl-slide-inner">
							<div class="bg-img bg-img-1"></div>
						<div class="carousel-caption">
							<div>

							  <h2 data-wow-duration="1ms"  data-wow-delay="1ms" class="heading animated fadeInRight"><%=I18n.t("Home.paper")%></h2>
                              <h3 class="animated fadeInUp"><%=I18n.t("Home.use")%></h3>
                               <a class="btn btn-green animated fadeInUp" href="#hola"><%=I18n.t("Home.start")%></a>
							</div>
						</div>

						</div>
					</div>
					<!-- /single slide item -->

					<!-- single slide item -->
					<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
						<div class="sl-slide-inner">
							<div class="bg-img bg-img-2"></div>
						<div class="carousel-caption">
							<div>
								<h2 class="heading animated fadeInDown"><%=I18n.t("Home.papeleria")%></h2>


						  </div>
						</div>
						</div>
					</div>
					<!-- /single slide item -->

					<!-- single slide item -->
					<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
						<div class="sl-slide-inner">
							<div class="bg-img bg-img-3"></div>
						<div class="carousel-caption">
							<div>
								<h2 class="heading animated fadeInRight"><%=I18n.t("Home.frase")%></h2>
								<h3 class="animated fadeInLeft">Martin Luther King</h3>

							</div>
						</div>
						</div>
					</div>
					<!-- /single slide item -->

				</div><!-- /sl-slider -->

				<nav id="nav-arrows" class="nav-arrows">
					<span class="nav-arrow-prev">Previous</span>
					<span class="nav-arrow-next">Next</span>
				</nav>

				<nav id="nav-dots" class="nav-dots">
					<span class="nav-dot-current"></span>
					<span></span>
					<span></span>
				</nav>

			</div><!-- /slider-wrapper -->
		</section>
		<!--/#home section-->

        <!--
        Fixed Navigation
        ==================================== -->
        <header id="navigation" class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->

					<!-- logo -->
                    <a class="navbar-brand" href="#body">
						<h1 id="logo">
							<img src="Image/SHEEDO_FINAL.png" alt="Sheedo" width="80" height="50" />
						</h1>
					</a>
					<!-- /logo -->
                </div>
 <section id="hola">
				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="Navigation">
                    <ul id="nav" class="nav navbar-nav">
                      <li class="current"><a href="#body"><%=I18n.t("Home.home")%></a></li>
                      <li><a href="/historia"><%=I18n.t("Nuestra-Historia.Historia")%></a></li>
                      <li><a href="/catalogo"><%=I18n.t("Catalogo.Catalogo")%></a></li>
                      <li><a href="/contacto"><%=I18n.t("Contacto.contact")%></a></li>
                    </ul>
                </nav>
				<!-- /main nav -->

            </div>
        </header>
        <!--
        End Fixed Navigation
        ==================================== -->

		<!--
		Start About Section
		==================================== -->

		<section  class="bg-one">
			<div class="container">
				<div class="row">

					<!-- section title -->
					<div class="title text-center wow fadeIn" data-wow-duration="1500ms" >
						<h2>¿Qué es <span class="color">Sheedo?</span></h2>
						<div class="border"></div>
					</div>
					<!-- /section title -->

					<!-- About item -->
					<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" >
						<div class="wrap-about">
							<div class="icon-box">
								<i class="fa fa-recycle fa-4x"></i>
							</div>
							<!-- Express About Yourself -->
							<div class="about-content text-center">
								<h3 class="ddd"><%=I18n.t("Home.organic")%></h3>
								<p><b><%=I18n.t("Home.organic1")%></b></p>
							</div>
						</div>
					</div>
					<!-- End About item -->

					<!-- About item -->
					<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
						<div class="wrap-about">
							<div class="icon-box">
								<i class="fa fa-heart fa-4x"></i>
							</div>
							<!-- Express About Yourself -->
							<div class="about-content text-center">
								<h3><%=I18n.t("Home.artisan")%></h3>
								<p><b><%=I18n.t("Home.artisan1")%></b></p>
							</div>
						</div>
					</div>
					<!-- End About item -->

					<!-- About item -->
					<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
						<div class="wrap-about kill-margin-bottom">
							<div class="icon-box">
								<i class="fa fa-leaf fa-4x"></i>
							</div>
							<!-- Express About Yourself -->
							<div class="about-content text-center">
								<h3><%=I18n.t("Home.seeeds")%></h3>
								<p><b><%=I18n.t("Home.seeds1")%><b></p>
							</div>
						</div>
					</div>
					<!-- End About item -->

				</div> 		<!-- End row -->
			</div>   	<!-- End container -->
		</section>   <!-- End section -->

		<!--
		Start Main Features
		==================================== -->
		<section id="main-features">
			<div class="container">
				<div class="row">

					<!-- features item -->
					<div id="features">
						<div class="item">

							<div class="features-item">


								<!-- features content -->
								<div class="title text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="300ms">
									<h2><%=I18n.t("Home.how")%></h2>
                                    <img src="Image/instrucciones (3)-min.png" width="800" height="400" alt="instrucciones">
<p></p>


								</div>
								<!-- /features content -->

							</div>
						</div>


		</section>   <!-- End section -->

		<!--
		Start Counter Section
		==================================== -->

		<section id="counter" class="parallax-section">
			<div class="container">
				<div class="row">

					<!-- first count item -->
					<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms">
						<div class="counters-item">
							<div>
							    <span data-speed="3000" data-to="532">532</span>
							</div>
							<i class="fa fa-tree fa-3x"></i>
							<h3><%=I18n.t("Home.how")%></h3>
						</div>
					</div>
					<!-- end first count item -->

					<!-- second count item -->
					<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
						<div class="counters-item">
							<div>
							    <span data-speed="4000" data-to="1501">1.501</span>
							</div>
							<i class="fa fa-globe fa-3x"></i>
							<h3><%=I18n.t("Home.saved")%></h3>
						</div>
					</div>
					<!-- end second count item -->

					<!-- third count item -->
					<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
						<div class="counters-item">
							<div>
							    <span data-speed="5000" data-to="345">345</span>

							</div>
							<i class="fa fa-thumbs-up fa-3x"></i>
				            <h3><%=I18n.t("Home.life")%></h3>

						</div>
					</div>
					<!-- end third count item -->

					<!-- fourth count item -->
					<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
						<div class="counters-item kill-margin-bottom">
							<div>
							    <span data-speed="6000" data-to="2421">2.421</span>
							</div>
							<i class="fa fa-smile-o fa-3x"></i>
							<h3><%=I18n.t("Home.life")%></h3>
						</div>
					</div>
					<!-- end fourth count item -->

				</div> 		<!-- end row -->
			</div>   	<!-- end container -->
		</section>   <!-- end section -->
        </section>
		<footer id="footer" class="bg-one">
			<div class="container">
			    <div class="row wow fadeInUp" data-wow-duration="500ms">
					<div class="col-lg-12">

						<!-- Footer Social Links -->
						<div class="social-icon">
							<ul>

								<li><a href="https://twitter.com/sheedopaper/" target="new"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://www.instagram.com/_sheedo/"target="new"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="https://plus.google.com/105647372687218542412/posts"target="new"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
						<!--/. End Footer Social Links -->

						<!-- copyright -->
						<div class="copyright text-center">
							<a href="#body">
							<img src="Image/SHEEDO_FINAL (1).png" width="100" height="70" alt="papel semilla"> </a>
							<br />

							<p>Design And Developed by <a href="http://www.goboxprojects.com" target="new"> Goboxprojects</a>. Copyright &copy; 2015. All Rights Reserved.</p>
						</div>
						<!-- /copyright -->

					</div> <!-- end col lg 12 -->
				</div> <!-- end row -->
			</div> <!-- end container -->
		</footer> <!-- end footer -->

		<!-- Back to Top
		============================== -->
		<a href="javascript:;" id="scrollUp">
			<i class="fa fa-angle-up fa-2x"></i>
		</a>

		<!-- end Footer Area
		========================================== -->

		<!--
		Essential Scripts
		=====================================-->

		<!-- Main jQuery -->
		<script src="js/jquery-1.11.0.min.js"></script>
		<!-- Bootstrap 3.1 -->
		<script src="js/bootstrap.min.js"></script>
		<!-- Slitslider -->
		<script src="js/jquery.slitslider.js"></script>
		<script src="js/jquery.ba-cond.min.js"></script>
		<!-- Parallax -->
		<script src="js/jquery.parallax-1.1.3.js"></script>
		<!-- Owl Carousel -->
		<script src="js/owl.carousel.min.js"></script>
		<!-- Portfolio Filtering -->
		<script src="js/jquery.mixitup.min.js"></script>
		<!-- Custom Scrollbar -->
		<script src="js/jquery.nicescroll.min.js"></script>
		<!-- Jappear js -->
		<script src="js/jquery.appear.js"></script>
		<!-- Pie Chart -->
		<script src="js/easyPieChart.js"></script>
		<!-- jQuery Easing -->
		<script src="js/jquery.easing-1.3.pack.js"></script>
		<!-- tweetie.min -->
		<script src="js/tweetie.min.js"></script>
		<!-- Google Map API -->
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<!-- Highlight menu item -->
		<script src="js/jquery.nav.js"></script>
		<!-- Sticky Nav -->
		<script src="js/jquery.sticky.js"></script>
		<!-- Number Counter Script -->
		<script src="js/jquery.countTo.js"></script>
		<!-- wow.min Script -->
		<script src="js/wow.min.js"></script>
		<!-- For video responsive -->
		<script src="js/jquery.fitvids.js"></script>
		<!-- Grid js -->
		<script src="js/grid.js"></script>
		<!-- Custom js -->
		<script src="js/custom.js"></script>
		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61383712-1', 'auto');
  ga('send', 'pageview');

</script>
    </body>
</html>
